.wd-border-black {
    border: thin black;
}

.wd-move-up-btn {
    position: relative;
    top: -100px;
}

.wd-move-up-70 {
    position: relative;
    top: -70px;
}

textarea.form-control {
    color: rgb(50, 50, 50);
    font-size: 18px;
    border: none;
}

div.wd-form-borders {
    border: 1px solid rgb(110, 118, 125);
    font-size: 12px;
    color: gray;
    border-radius: 10px;
}

textarea::placeholder.form-control {
    color: rgb(50, 50, 50);
}

.wd-move-down-10 {
    position: relative;
    top: 10px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wd-border-gray {
    border: 1px solid rgb(110, 118, 125);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#wd-profile-photo {
    border-radius: 200px;
    position: relative;
    top: -60px;
}

img.wd-rounded-photo {
    border-radius: 200px;
    position: relative;
    top: -60px;
}

.wd-text-gray-profile {
    color: rgb(150, 150, 150);
}