.wd-general {
    padding-left: 16px;
    background-color: black;
}

.wd-fg-color-lightgray { color: rgb(110, 118, 125); }

.wd-bg-color-gray { background-color: #343a40; border: 0; outline: 0;}

::placeholder {
    color: #6c757d;
    opacity: 1;
    font-size: 90%;

}

.wd-margin-all-around {
    margin-bottom: 20px;
    margin-top: 20px;

}

.wd-search-dim {
    width: 380px;
    height: 25px
}
.wd-rounded { border-radius: 20px;}

.wd-placeholder-padding { padding-left: 45px;}

.wd-float-icon { float: left;  z-index: 10; position: relative; left: 35px; top: 22px;}

.wd-blue-gear { float: right; display: inline; color: rgb(29,161,242); padding-right: 12px; font-size: 40px; padding-top: 8px;}

.wd-col{
    display: inline;
    font-size: 12px;
    font-family: sans-serif, Arial;
    color: rgb(110, 118, 125);
    padding: 16px;
    height: 40px;

}

.wd-col-selected{
    display: inline;
    font-size: 12px;
    font-family: sans-serif, Arial;
    color: rgb(29,161,242);
    padding: 16px;
    height: 40px;

}

.wd-hr-format {
    color: rgb(110, 118, 125);
    height: 1px;

}

.wd-div-boxes {
    border-left-width: thin;
    border-style: solid;
    border-left-color: rgb(110, 118, 125);
    border-right-width: thin;
    border-right-color: rgb(110, 118, 125);
    border-top-width: thin;
    border-top-color: rgb(110, 118, 125);
    border-bottom-width: medium;
    border-bottom-color: rgb(110, 118, 125);
    padding-bottom: 16px;
}

.wd-hr-blue {
    z-index: 10;
    position: relative;
    left: 12px;
    top: -14px;
    width: 50px;
    margin-inline-start: 0;
    border: thin solid rgb(29,161,242);
}

.wd-filler-div {
    border-width: thin;
    border-style: solid;
    border-color: rgb(110, 118, 125);
    background-color: #343a40;
    height: 20px;
    position: relative;
    top: -20px;
}

.wd-3dots-white {
    float: right;
    display: inline;
    color: white;
    padding-right: 12px;
    font-size: 30px;
    padding-top: -40px;}

.wd-3dots-gray-1 {
    float: right;
    display: inline;
    position: relative;
    color: rgb(110, 118, 125);
    padding-right: 12px;
    font-size: 30px;
    padding-top: -20px;
    top: -14px;}

.wd-3dots-gray-2 {
    float: right;
    display: inline;
    position: relative;
    color: rgb(110, 118, 125);
    padding-right: 12px;
    font-size: 30px;
    padding-top: -20px;
    top: -50px;}

.wd-small-text-top {
    margin-inline-start: 0;
    color: rgb(110, 118, 125);
    font-size: 13px;
    font-family: sans-serif, Arial;
    padding-top: 16px;
    padding-left: 12px;
}

.wd-small-text {
    margin-inline-start: 0;
    color: rgb(110, 118, 125);
    font-size: 13px;
    font-family: sans-serif, Arial;
    padding-left: 12px;
}

.wd-large-text {
    margin-inline-start: 0;
    color: white;
    font-size: 16px;
    font-family: sans-serif, Arial;
    padding-top: 0px;
    padding-left: 12px;
}

.wd-trending-row {
    border-width: thin;
    border-style: solid;
    border-color: rgb(110, 118, 125);
    position: relative;
    top: -20px;
}