.wd-remove-hyperlink-style{
    text-decoration:none;
}

.wd-color-black{
    color: black;
}

.wd-color-white{
    color: white;
}

.wd-inline{
    display: inline;
}

.wd-move-left-4{
    position: relative;
    left: -4px;
}

.wd-text-centered{
    text-align: center;
}

.wd-align-left{
    align-content: left;
}

.wd-rounded{
    border-radius: 40px;
}

.wd-rounded-slight{
    border-radius: 10px;
}

.wd-draw-later{
    z-index: 10;
}

.wd-move-left{
    position: relative;
    left: -520px;
}

.wd-width-80pc{
    width: 60%;
}

.wd-width-100pc{
    width: 100%;
}

.wd-photo-text{
    font-size: 30px;
    color: white;
    position: relative;
    top: -50px;
}

.wd-article-box{
    border: thin solid lightgray;
}

.wd-align-right{
    text-align: right;
}

.wd-max-width-80{
    max-width: 80%;
}

.wd-vertical-align{
    vertical-align: top;
}

.wd-text-soft-gray{
    color: rgb(140,140,140);

}

p#article-text {
    padding: 0px;
    margin: 0px;
}

.wd-container-align{
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

#input-container {
    position: relative;
}

#input-container > i {
    position: absolute;
    top: 12px;
    left: 15px;
}

#input-container > input {
    padding-left: 40px;
}

.wd-border-none{
    border: none;
}

.wd-move-up-articles{
    position: relative;
    top: -45px;
}

.wd-who-follow-photo{
    border-radius: 50px;
    height: 48px;
    width: 48px;
}

.wd-float-right{
    float: right;
}

.wd-move-search-icon {
    position: relative;
    left: -480px;
}

.wd-color-blue{
    color: blue;
}

.wd-move-up-gear{
    position: relative;
    top: -44px;
    left: -40px;
}

.wd-remove-margins {
    margin: 0;
    padding: 0;
}

.wd-max-width-handles{
    max-width: 20%;
}

.wd-move-icon-left{
    position: relative;
    left: -8px;
}